[core]
  excludesfile = ~/.gitignore
  editor = aquamacs
[user]
  email = k@2052.me
  name = Ken Erickson
[diff]
  tool = vimdiff   
[url "git://anongit.kde.org/"]
  insteadOf = kde:
[url "ssh://git@git.kde.org/"]
  pushInsteadOf = kde:     
[github]
  user = bookworm        
