[core]
  excludesfile = ~/.gitignore
  editor = aquamacs
[user]
  email = k@2052.me
  name = K-2052
[diff]
  tool = vimdiff   
	external = ~/.bin/diff.py
[url "git://anongit.kde.org/"]
  insteadOf = kde:
[url "ssh://git@git.kde.org/"]
  pushInsteadOf = kde:     
[github]
  user = k2052
